<div class="containery">
  <div class="containery cards-grid">
      <div class="scene scene--card">
        <div class="card">
        <div class="card__face card__face--front flip-card-inner flip-card-front">
          <p><%= @board.firstenglish %></p>
        </div>
        <div class="card__face card__face--back flip-card-back"><p><%= @board.firstspanish %></p>
        </div>
        </div>
      </div>
    <div class="scene scene--card">
      <div class="card">
        <div class="card__face card__face--front flip-card-inner flip-card-front"><p><%= @board.secondenglish %></p></div>
        <div class="card__face card__face--back flip-card-back"><p><%= @board.secondspanish %></p></div>
      </div>
    </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front flip-card-inner flip-card-front">
            <p><%= @board.thirdenglish %></p>
          </div>
          <div class="card__face card__face--back flip-card-back">
            <p><%= @board.thirdspanish %></p>
          </div>
        </div>
      </div>
        <div class="scene scene--card">
          <div class="card">
            <div class="card__face card__face--front flip-card-inner flip-card-front">
              <p><%= @board.fourthenglish %></p>
            </div>
            <div class="card__face card__face--back flip-card-back">
              <p><%= @board.fourthspanish %></p>
            </div>
          </div>
        </div>
        <div class="scene scene--card">
          <div class="card">
            <div class="card__face card__face--front flip-card-inner flip-card-front">
              <p><%= @board.fifthenglish %></p>
            </div>
            <div class="card__face card__face--back flip-card-back">
              <p><%= @board.fifthspanish %></p>
            </div>
          </div>
        </div>
        <div class="scene scene--card">
          <div class="card">
            <div class="card__face card__face--front flip-card-inner flip-card-front">
              <p><%= @board.sixthenglish %></p>
            </div>
            <div class="card__face card__face--back flip-card-back">
              <p><%= @board.sixthspanish %></p>
            </div>
          </div>
        </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front flip-card-inner flip-card-front">
            <p><%= @board.seventhenglish %></p>
          </div>
          <div class="card__face card__face--back flip-card-back">
            <p><%= @board.seventhspanish %></p>
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front flip-card-inner flip-card-front">
            <p><%= @board.eighthenglish %></p>
          </div>
          <div class="card__face card__face--back flip-card-back">
            <p><%= @board.eighthspanish %></p>
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front flip-card-inner flip-card-front">
            <p><%= @board.ninthenglish %></p>
          </div>
          <div class="card__face card__face--back flip-card-back">
            <p><%= @board.ninthspanish %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="checkboxes">
    <a href="#" class="start-button">Start!</a>
    <div class="list">
      <p>I have studied...</p>
      <p><%= @board.firstspanish %> <input type="checkbox" class="myCheck"></p>
      <p><%= @board.secondspanish %> <input type="checkbox" class="myCheck"></p>
      <p><%= @board.thirdspanish %> <input type="checkbox" class="myCheck"></p>
      <p><%= @board.fourthspanish %> <input type="checkbox" class="myCheck"></p>
      <p><%= @board.fifthspanish %> <input type="checkbox" class="myCheck"></p>
      <p><%= @board.sixthspanish %> <input type="checkbox" class="myCheck"></p>
      <p><%= @board.seventhspanish %> <input type="checkbox" class="myCheck"></p>
      <p><%= @board.eighthspanish %> <input type="checkbox" class="myCheck"></p>
      <p><%= @board.ninthspanish %> <input type="checkbox" class="myCheck"></p>
    </div>
  </div>
</div>



